streamlit==1.32.2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
geopandas==0.14.3
osmnx==1.9.1
shap==0.45.0
scikit-learn==1.4.2
joblib==1.4.2
folium==0.16.0
streamlit-folium==0.18.0
pyproj==3.6.1
shapely==2.0.3
fiona==1.9.6
requests==2.31.0
openpyxl==3.1.5
beautifulsoup4==4.14.3
